/* .createuserbg {
  background: url('../../img/Componentformbg.svg') no-repeat center center/cover;
  /* background-color: yellow; */
/*position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

/* Text between <hr> tag */

.pulse-button {
  position: relative;
  margin-top: 135%;
  border: none;
  box-shadow: 0 0 0 0 rgba(9, 66, 236, 0.776);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #0b74dd;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 0.7s infinite;
  -moz-animation: pulse 0.7s infinite;
  -ms-animation: pulse 0.7s infinite;
  animation: pulse 2s linear infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem rgb(38, 0, 255, 0.15),
      0 0 0 1rem rgb(38, 0, 255, 0.15), 0 0 0 2.5rem rgb(38, 0, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(38, 0, 255, 0.15),
      0 0 0 2.5rem rgb(38, 0, 255, 0.15), 0 0 0 4rem rgba(108, 101, 150, 0);
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem rgb(38, 0, 255, 0.15),
      0 0 0 1rem rgb(38, 0, 255, 0.15), 0 0 0 2.5rem rgb(38, 0, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(38, 0, 255, 0.15),
      0 0 0 2.5rem rgb(38, 0, 255, 0.15), 0 0 0 4rem rgba(108, 101, 150, 0);
  }
}
@-ms-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem rgb(38, 0, 255, 0.15),
      0 0 0 1rem rgb(38, 0, 255, 0.15), 0 0 0 2.5rem rgb(38, 0, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(38, 0, 255, 0.15),
      0 0 0 2.5rem rgb(38, 0, 255, 0.15), 0 0 0 4rem rgba(108, 101, 150, 0);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0rem rgb(38, 0, 255, 0.15),
      0 0 0 1rem rgb(38, 0, 255, 0.15), 0 0 0 2.5rem rgb(38, 0, 255, 0.15);
  }
  100% {
    box-shadow: 0 0 0 1rem rgb(38, 0, 255, 0.15),
      0 0 0 2.5rem rgb(38, 0, 255, 0.15), 0 0 0 4rem rgba(108, 101, 150, 0);
  }
}

.icon-bar {
  position: fixed;
  top: 50%;
  left: 88%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.maindiv {
  /* width: 300px;
  height: 300px; */
  /* border: 1px solid black; */
  display: -webkit-flex; /* Safari */
  display: flex;
  margin: -28px 0;
}

.maindiv div {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

hr.style-two {
  /* padding: 10px 0 0 0; */
  margin-top: 50px;
  border: none;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(251, 251, 251);
  text-align: center;
}
hr.style-two:after {
  content: 'Stage II';
  display: inline-block;
  position: relative;
  /* top: -0.7em; */
  font-size: 1.5em;
  padding: 0 0.25em;
  background: none;
}
hr.style-one {
  /* padding: 10px 0 0 0; */
  border: none;
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(251, 251, 251);
  text-align: center;
}
hr.style-one:after {
  content: 'Stage I';
  display: inline-block;
  position: relative;
  /* top: -0.7em; */
  font-size: 1.5em;
  padding: 0 0.25em;
  background: none;
}
hr.style-three {
  /* padding: 10px 0 0 0; */
  border: none;
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(251, 251, 251);
  text-align: center;
}
hr.style-three:after {
  content: 'Stage III';
  display: inline-block;
  position: relative;
  /* top: -0.7em; */
  font-size: 1.5em;
  padding: 0 0.25em;
  background: none;
}

.createuserbg {
  background: url('../../img/Componentformbg.png') no-repeat center center/cover;
  /* background-color: yellow; */
  position: absolute;
  background-position: right 15% bottom -45%;
  background-color: cornsilk;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.navbar a {
  color: rgb(255, 0, 0);
  padding: 0.45rem;
  margin: 0 0.25rem;
}
/* .createuserbg {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  /* left: -350px; */
/* } */
